.conteudo .nome-personagem.luffy{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 162, 255, 0.7);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.zoro{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgb(25, 70, 4);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.nami{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(0, 255, 179, 0.7);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.usopp{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(54, 121, 23, 0.7);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.sanji{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 5px rgba(255, 217, 0, 0.8);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.chopper{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px 5px rgba(255, 0, 128, 0.7);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}