.conteudo .nome-personagem.luffy{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px rgb(23, 136, 202);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.zoro{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px rgb(25, 70, 4);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.nami{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px rgba(0, 255, 179, 0.7);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.usopp{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px rgb(23, 121, 23);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.sanji{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    text-shadow: 2px 2px 15px rgb(255, 217, 0);
    font-size: 46px;
    font-weight: 400;
    margin-bottom: 10px;
}

.conteudo .nome-personagem.chopper{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgb(255, 0, 128);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}

.conteudo .nome-personagem.robin{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgba(188, 129, 255, 0.7);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}

.conteudo .nome-personagem.franky{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgb(79, 197, 252);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}

.conteudo .nome-personagem.brook{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgb(129, 129, 129);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}

.conteudo .nome-personagem.jinbe{
    font-family: 'Secular One', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 15px rgba(255, 196, 0, 0.863);
    font-size: 43px;
    font-weight: 400;
    margin-bottom: 12px;
}