@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body{
    background-color: #000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 70vw;
    background: linear-gradient(-233deg, #000 40%, rgba(0, 0, 0, 0) 65%) no-repeat;
    
}

main .personagem{
    display: none;
    height: 100vh;
}

main .personagem.selecionado{
    display: block;
}

main .personagem .imagem{
    width: 100%;
    height: 100%;
    object-fit: cover; /*mantém as dimensões corretas, mas cobrindo o elemento também*/

}

.conteudo{
    position: absolute; 
    top: 0;
    left: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 380px;
    z-index: 1; /*eixo z de camadas*/
   
}

.conteudo .nome-personagem{
    font-family: 'Secular One', sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.conteudo .descricao{
    font-family: 'Rubik';
    color: #fff;
    line-height: 16px;
}

.conteudo .logo-luffy{
    background-size: cover;
    background-image: url("../img/logo/one-piece-logo.png");
    height: 100px;
    width: 230px;
    margin-bottom: 35px;
}

.conteudo .logo-zoro{
    background-size: cover;
    background-image: url("../img/logo/logo-zoro.png");
    height: 110px;
    width: 255px;
    margin-bottom: 35px;
}

.conteudo .logo-nami{
    background-size: cover;
    background-image: url("../img/logo/logo-nami.png");
    height: 100px;
    width: 280px;
    margin-left: -20px;
    margin-bottom: 35px;
}

.conteudo .logo-usopp{
    background-size: cover;
    background-image: url("../img/logo/logo-usopp.png");
    height: 100px;
    width: 300px;
    margin-left: -15px;
    margin-bottom: 35px;
}

.conteudo .logo-sanji{
    background-size: cover;
    background-image: url("../img/logo/logo-sanji.png");
    height: 110px;
    width: 265px;
    margin-bottom: 35px;
}

.conteudo .logo-chopper{
    background-size: cover;
    background-image: url("../img/logo/logo-chopper.png");
    height: 100px;
    width: 300px;
    margin-left: -30px;
    margin-bottom: 35px;
    
}

.botoes{
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    gap: 12px;
}
.botoes .botao{
    border: none;
    background: none;
    cursor: pointer;
    
}

.botoes img{
    max-width: 90px;
    max-height: 90px;
}

.botoes .botao.selecionado{
    transform: scale(1.3);
}

.botoes .botao.bt-usopp img {
    max-width: 120px; 
    max-height: 130px; 
    margin: -20px;
    margin-top: -30px;
}



@media (max-width: 769px){
    main::after{
        background: linear-gradient(0deg, #000 20%, rgba(0, 0, 0, 0.00) 65%) no-repeat;
        width: 100vw;
    }

    main .personagem .imagem{
        height: 85%;
    }

    .conteudo{
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 30px;
    }

    .conteudo .nome-personagem{
        font-size: 36px;
    }

    .conteudo .descricao{
        max-width: 500px;
    }

    .botoes{
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
    }

    .botoes .botao img{
        max-width: 60px;
    }
}

@media (max-width:425px){

    main .personagem .imagem{
        height: auto;
    }

    .conteudo .logo{
        width:  170px;
        height: 75px;
    }

    .conteudo{
        top: -30%;
    }

    .conteudo .nome-personagem{
        font-size: 24px;
    }

    .botoes{
        padding: 20px;
        top: -20%;
    }

    .botoes .botao img{
        max-width:  50px;
    }
}